@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap");

html {
	font-size: 62.5%;
}

body {
	font-family: 'Raleway';
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.75;
	color: #333333;
	background-color: #ffffff;
}

@media (min-width: 769px) {
	body {
		font-size: 1.8rem;
		padding: 0 10rem;
		background-image: url("img/background_img.jpg");
		background-size: cover;
		background-attachment: fixed;
		background-color:rgba(255,255,255,0.6);
		background-blend-mode:lighten;	
	}
}

#header .container {
	display: flex;
	justify-content: flex-end;
}

#header .container #form {
	align-self: center;
}

#header .container .nav-toggle {
	display: block;
	position: relative;
	width: 4rem;
	height: 3rem;
	margin: 2rem;
}

#header .container .nav-toggle i {
	display: block;
	width: 100%;
	height: 2px;
	background-color: lightgray;
	position: absolute;
	transition: transform .5s, opacity .5s;
}

#header .container .nav-toggle i:nth-child(1) {
	top: 0;
}

#header .container .nav-toggle i:nth-child(2) {
	top: 0;
	bottom: 0;
	margin: auto;
}

#header .container .nav-toggle i:nth-child(3) {
	bottom: 0;
}

#header .container .nav-toggle.show i:nth-child(1) {
	transform: translateY(15px) rotate(-45deg);
}
#header .container .nav-toggle.show i:nth-child(2) {
	opacity: 0;
}
#header .container .nav-toggle.show i:nth-child(3) {
	transform: translateY(-12px) rotate(45deg);
}

#nav-pc {
	display: none;
}

@media (min-width: 769px) {
	#header .container .nav-toggle {
		display: none;
	}
	#header .container #nav-pc {
		display: block;
	}
	#header .container #nav-pc ul li {
		display: inline;
    margin: 0 2rem;
	}
	#header #nav-pc ul li a {
		text-decoration: none;
		color: initial;
	}	
}

#cover {
	position: relative;
	margin-bottom: 5rem;
}

#cover .bg img {
	width: 100%;
}

#cover .title {
	position: absolute;
	top: 5rem;
	left: 4rem;
}

#cover .title h1 {
	margin: 0;
	font-size: 3.5rem;
}

#cover .title h2 {
	margin: 0;
	font-size: 2.5rem;
}

#cover .title h3 {
	margin: 0;
	font-size: 2.5rem;
}

#cover #nav {
	position: absolute;
	top: 20rem;
	left: 4rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s;
}

#cover #nav.show {
	opacity: 1;
	visibility: visible;
}

#cover #nav ul {
	padding: 0 2rem;
}

#cover #nav ul li {
	list-style-type: disclosure-closed;
}

#cover #nav ul li a {
	text-decoration: none;
  color: initial;
}

@media (min-width: 769px) {
	#cover .bg {
		display: none;
	}
	#cover .title {
		position: initial;
	}
	#cover .title h1 {
		font-size: 5.5rem;
	}
	#cover .title h2 {
		font-size: 3.5rem;
	}
	#cover .title h3 {
		font-size: 3.5rem;
	}
	#cover #nav {
		display: none;
	}
}

#profile {
	padding: 0 4rem;
	margin-bottom: 5rem;
}

#profile h2 {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 2.5rem;
}

#profile table {
	word-break: break-all;
	border-collapse: collapse;
}

#profile table tr th {
	width: 25%;
	font-weight: normal;
	padding: 1rem;
	border-right: solid 0.1rem lightgray;
	text-align: right;
}

#profile table tr td {
	padding: 1rem;
}

#profile table .border {
	border-top: solid 0.1rem lightgray;
	border-bottom: solid 0.1rem lightgray;
}

@media (min-width: 769px) {
	#profile {
		padding: 0;
	}
	#profile h2 {
		font-size: 3.5rem;
	}
	#profile table tr th {
		text-align: center;
	}
}

#works {
	padding: 0 4rem;
	margin-bottom: 5rem;
}

#works h2 {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 2.5rem;
}

#works .container {
	margin-bottom: 3rem;
}

#works .container .box1 img {
	width: 100%;
	border: solid 0.1rem lightgray;
}

#works .container .box3 {
	display: none;
}

#works .container .box2 ul {
	padding-left: 2rem;
	list-style-type: disclosure-closed;
}


@media (min-width: 769px) {
	#works {
		padding: 0;
	}
	#works h2 {
		font-size: 3.5rem;
	}
	#works .container {
		display: flex;
    justify-content: space-between;
	}
	#works .container .box1 {
		display: none;
	}
	#works .container .box3 {
		display: initial;
    width: 58%;
	}
	#works .container .box3 img {
		border: solid 0.1rem lightgray;
    width: 100%;
	}
	#works .container .box2 {
		width: 40%;
	}
}

#contact {
	padding: 0 4rem;
	margin-bottom: 5rem;
}

#contact h2 {
	text-align: center;
	margin: 4rem 0 2rem 0;
	font-size: 2.5rem;
}

#contact h3 {
	text-align: center;
	font-weight: normal;
	margin-bottom: 2rem;
}

#contact .mail {
	text-align: center;
}

#contact .mail .far {
	font-size: 3rem;
  color: #ffffff;
  background-color: lightgray;
	line-height: 5rem;
	height: 5rem;
	width: 5rem;
	border-radius: 3rem;
}

@media (min-width: 769px) {
	#contact {
		padding: 0;
	}
	#contact h2 {
		font-size: 3.5rem;
	}
	#contact .mail .far {
		font-size: 6rem;
		line-height: 10rem;
		height: 10rem;
		width: 10rem;
		border-radius: 6rem;
	}
}

#footer h2 {
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	color: lightgray;
}

@media (min-width: 769px) {
	#footer h2 {
		font-size: 2rem;
	}
}
